**/static/**

node_modules
*/node_modules/**

__pycache__
*/__pycache__/**

venv
*/venv/**

.ipynb_checkpoints
*/ipynb_checkpoints/**

fire-rvt/fire-rvt/bin
fire-rvt/fire-rvt/obj
fire-rvt/packages
*/.vs/**


dataset
*/dataset/**

*/static/**
**/static
